.carousel {
    width:100%;
    /* height:500px; */
    margin: auto;
  }
  .logo-sizing{
    width:40px;
    height:auto;
  }

.slide-color{
    height:90vh;
background-color: #24282c;
}

.align{
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 900px) {
  .slide-color{
height: 95vh;
  }
  .align{
    height: 40vh;
  }
  
  
}
 /*  @media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
  } */
  